@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  font-family: var(--font-primary);
  color: black;
}

.dashboard {
  .balance-wrapper {
    min-height: 57px;
    transition: min-height 0.2s;

    &.open {
      min-height: 100px;
    }
  }
  .balance {
    position: relative;
    span {
      font-family: var(--font-secondary);
    }
    &:after {
      position: absolute;
      content: "kr";
      right: -1.75rem;
      bottom: -0.125rem;
      font-size: 1.5rem;
    }
  }
  .edit-balance input {
    font-family: var(--font-secondary);
  }
  .spinner {
    animation: spin 2s linear infinite;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
